.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: black;
}

.container > * {
  position: absolute;
}

.container canvas {
  border: 1px solid red;
}
